//  C O L O R S

$light_blue-bg: hsl(225, 100%, 85%);
$blue-link: hsl(240, 100%, 50%);

$light_yellow-bg: hsl(63, 100%, 83%);
$orange-light-link: hsl(14, 100%, 65%);
$light_green-bg: hsl(128, 100%, 86%);
$violet-bg: hsl(267, 100%, 85%);

//  F O N T

$font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
