@use "../variables";

.about-college {
  padding-top: 8.33333vw;
  padding-bottom: 8.33333vw;
  margin-bottom: 8.33333vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .light-yellow-bg {
    background-color: variables.$light-yellow-bg;
    width: 58.3333vw;
    height: 58.3333vw;
    position: absolute;
    left: 41.66667vw;
    top: 0;
    z-index: 0;
  }

  .about-college_content {
    margin-left: 8.33333vw;
    position: relative;
    z-index: 10;
  }

  .left_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569);
    background-position: 50% 50%;
    width: 41.66667vw;
    height: 41.66667vw;
  }
  .right_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455);
    width: 33.33333vw;
    height: 25vw;
  }
  &:nth-child(11) {
    .violet-bg {
      background-color: variables.$violet-bg;
      position: absolute;
      width: 66.66667vw;
      height: 58.33333vw;
      left: 16.66667vw;
      top: 0;
      z-index: 0;
    }
    .right_image {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569);
      background-position: 50% 50%;
      width: 41.66667vw;
      height: 41.66667vw;
      margin-left: 16.66667vw;
    }
    .left_image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(https://ableton-production.imgix.net/about/photo-6-a.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455);
      width: 33.33333vw;
      height: 25vw;
    }
  }
}
.people {
  padding: 8.33333vw;

  .light-green-bg {
    background-color: variables.$light-green-bg;
    width: 58.3333vw;
    height: 75vw;
    position: absolute;
    right: 41.66667vw;
    top: 0;
    z-index: 0;
  }
  .left-img_container {
    .about-college_content {
      margin-left: 0;
    }
    .top-left_image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(https://ableton-production.imgix.net/about/photo-3.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455);
      width: 33.33333vw;
      height: 25vw;
    }
    .bottom-left_image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455);
      width: 33.33333vw;
      height: 25vw;
      margin-top: 8.33333vw;
    }
  }
  .right_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://ableton-production.imgix.net/about/photo-5.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569);
    background-position: 50% 50%;
    width: 41.66667vw;
    height: 41.66667vw;
  }
}
