.main-header {
    min-height: calc(100vh - 120px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://ableton-production.imgix.net/about/header.jpg?auto=format&fit=crop&fm=jpg&ixjsv=1.1.3&w=1138);
    margin-left: 8.33333vw;
    margin-right: 7vw;
    margin-bottom: 8.33333vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  